@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutOrderViewModel>
@{
    Layout = "Checkout/_Layout";
}

@using (Html.BeginUmbracoForm<CheckoutSurfaceController>(nameof(CheckoutSurfaceController.RetryPayment), null, new
{
    @Class = "basketForm"
}))
{
    <input type="hidden" name="orderId" value="@Model.Order.Id" />

    <div class="bg-white shadow-md border border-neutral-200 p-4 mb-4">
        <h2 class="text-xl font-medium mb-2">Payment method</h2>

        @foreach (var paymentMethod in Model.CheckoutModel.PaymentMethods)
        {
            <div class="bg-white py-2 px-3 mt-3 z-0 relative">
                <input type="radio" class="peer hidden" name="method" value="@paymentMethod.Id" id="@paymentMethod.Id" />
                <p class="font-medium -mb-0.5">@paymentMethod.Name</p>
                <p class="opacity-50 text-sm"></p>
                <div class="absolute top-0 right-0 h-full w-0 transition-all peer-checked:w-2 bg-indigo-600"></div>
                <label class="absolute cursor-pointer inset-0 transition-all border border-neutral-200 peer-checked:border-indigo-600" for="@paymentMethod.Id"></label>
            </div>
        }
    </div>

    <div class="flex justify-end gap-4">
        <button type="submit" class="checkout-btn checkout-btn-green">
            Continue
        </button>
    </div>
}