@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage  
@inject IStockService stockService
@inject IProductStore productStore
@inject IOrderService orderService
@{
    var basket = await orderService.Get(ViewData.GetOrderId()!.Value);
}

<div class="border border-blue-600 bg-blue-50 text-blue-600 px-4 py-2 mb-4 text-sm text-center">
    This order is currently unpaid. This is no longer your active basket. Please complete payment ASAP to avoid cancelling your order.
</div>

<div class="bg-white shadow-md border border-neutral-200 p-4">
    @foreach (var item in basket.BasketLineItems)
    {
        var product = await productStore.GetProductOrVariant(item.ProductSku);
        <div class="flex gap-4 items-center mb-2.5">
            <img class="w-14 h-14 border border-neutral-200 rounded" src="@(product.Content().AncestorOrSelf<RescopeProduct>().Image.Url())" />
            <div class="flex-1">
                <p class="text-neutral-600 text-base tracking-tight -mb-0.5 flex">
                    @(product.Content().AncestorOrSelf<RescopeProduct>().Name)&nbsp;<span class="lowercase">x @(item.Quantity)</span>
                    <span class="text-right ml-auto text-neutral-700 text-sm font-medium">@item.TotalPriceFormatted</span>
                </p>
                <p class="text-xs text-neutral-500 text-sm">@product.Name | @product.Sku</p>
            </div>
        </div>
    }
    <div class="mt-2 pt-2 border-t border-neutral-200">
        <div class="flex justify-between mb-2">
            <p class="text-sm text-neutral-600">Shipping</p>
            <p class="text-sm text-neutral-700">@basket.TotalShippingPriceFormatted</p>
        </div>
        @if (basket.TotalTax > 0)
        {
            <div class="flex justify-between mb-2">
                <p class="text-sm text-neutral-600">Tax</p>
                <p class="text-sm text-neutral-700">@basket.TotalTaxFormatted</p>
            </div>
        }
        <div class="flex justify-between mb-2">
            <p class="text-base text-neutral-600">Total</p>
            <p class="text-base text-neutral-700 font-medium">@basket.TotalPriceFormatted</p>
        </div>
    </div>
</div>
